*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Gillroy ;
    font-size: 16px ;
    font-weight: 400 ;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.borders{
    width: 90%;
    margin: 0 auto;
    // border: 3px solid red;
}

hr{
    width: 100%;
    border: 1px solid #396258;
}

.body{
    position: relative;
    overflow-y: scroll;
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
}

.activebody{
    overflow-y: hidden;
}

.language{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.active-lang{
    cursor: pointer;
    border-radius: .7rem;
    padding: .5rem;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: inherit;
    position: relative;
}

.active-lang img{
    max-width: 30px;
    max-height: 30px;
}

.Countries{
    position: absolute;
    top: 100%;
    z-index: 1000;
    left: 0;
    width: inherit;
    opacity: 0;
    pointer-events: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.Countries.active{
    opacity: 1;
    pointer-events: all;
}

.coutry{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 1.5rem;
}

.ru{
    background-image: url('../images/icons/ru.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.en{
    background-image: url('../images/icons/en.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.latvia{
    background-image: url('../images/icons/latvia.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.lithuania{
    background-image: url('../images/icons/lithuania.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.loading{
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #396258;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    padding: 0rem 2rem;

    &__title{
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: clamp(2rem,7vw,7rem);
        animation: hey 5s infinite forwards linear;
    }

    &__text{
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: clamp(1.5rem,5vw,5rem);
        color: #303030;
    }
}

.loading.active{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 1s;

}

@keyframes hey{
    0%{
        transform: rotateY(0deg);
        color: #fff;
    }
    50%{
        transform: rotateY(180deg);
        color: #303030;
    }
    100%{
        transform: rotateY(360deg);
        color: #fff;


    }
}



.header{

    padding-bottom: 4rem;

    &__nav{
        background-color: #313131;
        padding: 1rem 0;
    }

    &__nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-1{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    
    &__item-1:nth-child(2){
        padding-right: 2rem;
    }

    &__item-1:last-child{
        display: flex;
        gap: .7rem;
    }

    &__item-1 a img{
        max-width: 1.9rem;
        max-height: 1.9rem;
    }

    &__link-1{
        color: #838383;
        font-size: clamp(.9rem,1.1vw,1.2rem);
    }

    &__link-1:hover{
        transition: all .4s;
        color: #d6bd7e;
    }

    &__menu-2{
        display: flex;
        gap: 1rem;
    }

    &__item-2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    &__item-2 a{
        color: #dfd3b5;
        font-size: clamp(.9rem,1.1vw,1.2rem);
        font-weight: 600;
        transition: all .4s;
    }

    &__item-2 a:hover{
        transition: all .4s;
        color: #d6bd7e;
    }

    &__item-2 span{
        color: #dfd3b5;
        font-weight: 600;
        font-size: clamp(.9rem,1.1vw,1.2rem);
        cursor: pointer;
        transition: all .4s;
        position: relative;
    }

    &__item-2 span:hover{
        color: #d6bd7e;
        transition: all .4s;
        display: block;
    }

    &__item-2 span:hover::after{
        position: absolute;
        left: -10%;
        top: 140%;
        content: ('c 9:00 до 20:00');
        width: 130%;
        height: auto;
        border-radius: 1rem;
        color: #d6bd7e;
        background: #303030;
    }

    &__item-2 img{
        max-width: 1.9rem;
        max-height: 1.9rem;
    }
  
    &__item-2-dropdown,
    &__item-3-dropdown{
        position: relative;
        display: inline-block;
    }

    &__item-2-dropbtn,
    &__item-3-dropbtn{
        background-color: transparent;
        color: #dfd3b5;
        border: none;
        cursor: pointer;
    }
      
    &__item-2-dropdown-content,
    &__item-3-dropdown-content{
        display: none;
        position: absolute;
        left: -40%;
        background-color: #303030;
        width: max-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: .5rem;
    }
      
    &__item-2-dropdown-content a,
    &__item-3-dropdown-content a{
        color: #dfd3b5;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    &__item-2-dropdown:hover &__item-2-dropdown-content,
    &__item-3-dropdown:hover &__item-3-dropdown-content {
        display: block;
        background-color: #303030;
        color: #d6bd7e;
        z-index: 1000;
        opacity: 1;
    }
      
    &__item-2-dropdown:hover &__item-2-dropbtn{color: #d6bd7e;}
    &__item-3-dropdown:hover &__item-3-dropbtn{color: #d6bd7e;}


    &__item-3 a{
        color: #fff;
        transition: all .4s;
    }

    &__item-3 a:hover{
        color: #d6bd7e;
        transition: all .4s;
    }

    &__nav-2{
        opacity: 0.9;
        background-color: #313131;
        padding: 1rem 0;
    }

    &__nav-container-2{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        justify-content: space-around;

    }

    // &__logo{
    //     // width: 200px;
    //     // height: 3.1rem;
    //     // background-color: green;
    // }

    &__logo-title{
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        color: #fff;
        font-style: normal;
        font-size: clamp(2rem,4vw,4rem);
        transition: all .4s;
    }

    &__logo-title:hover{
        color: #d6bd7e;
        transition: all .4s;
    }

    &__menu-3{
        display: flex;
        gap: 1.5rem;
    }

    &__link-3{
        font-size: clamp(.9rem,1.1vw,1.2rem);
        color: #dfd3b5;
        transition: all .4s;
    }
    &__link-3:hover{
        transition: all .4s;
        color: #d6bd7e;
    }

    &__btn{
        border: .1rem solid #dfd3b5;
        color: #303030;
        border-radius: .6rem;
        font-size: clamp(.9rem,1.1vw,1.2rem);
        font-weight: 600;
        background-color: #dfd3b5;
        padding: .7rem 2rem;
        transition: all .4s;
        cursor: pointer;
    }

    &__btn:hover{
            transition: all .4s;
            color: #dfd3b5;
            border: .1rem solid #dfd3b5;
            background-color: transparent;
    }

    &__burger{
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display:none;
        pointer-events: none;
    }

    &__burger span{
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

    &__burger span::before{
        transition: all .4s;     
        content: '';
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        top: 2%;
    }

    &__burger span::after{
        transition: all .4s;     
        content: '';
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        bottom: 2%;
    }
    
    &__burger span::after{
        content: '';
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        bottom: 2%;
    }

    &__info{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.9)),url('../images/header-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &__content{
        max-width: 50%;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__title{
        color: #ffffff;
        font-weight: 600;
        padding-bottom: 1rem;
        font-size: clamp(2rem,4.5vw,4.5rem) ;
    }
    
    &__info-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #ffffff;
        font-weight: 600;
        gap: .5rem;
        padding-bottom: 2rem;

    }

    &__info-text{
        font-weight: 400;
        font-size: clamp(.9rem,1.1vw,1.2rem);
    }

    &__info-btns{
        display: flex;
        gap: 1rem;
        padding-bottom: 5rem;
    }

    &__info-btn-1{
        transition: all .4s;
        border: .1rem solid #dfd3b5;
        border-radius: .5rem;
        font-weight: 500;
        color: #303030;
        background-color: #dfd3b5;
        padding: .7rem 2rem;
        cursor: pointer;
        font-size: clamp(.9rem,1.1vw,1.2rem);
    }

    &__info-btn-1:hover{
        transition: all .4s;
        color: #dfd3b5;
        border: .1rem solid #dfd3b5;
        background-color: transparent;
    }

    &__info-btn-2{
        font-size: clamp(.9rem,1.1vw,1.2rem);
        transition: all .4s;
        border: .1rem solid #dfd3b5;
        border-radius: .5rem;
        font-weight: 500;
        color: #dfd3b5;
        background-color: transparent;
        padding: .7rem 3rem;
        cursor: pointer;
    }

    &__info-btn-2:hover{
        transition: all .4s;
        color: #303030;
        background-color: #dfd3b5;
    }

}













.aside{
    transform: translateX(-100%);
    transition: all .4s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100dvh;
    padding: .5rem 1rem;
    background-color: #313131;

    &.active{
        transform: translateX(0%);
        transition: all .4s;
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        padding-bottom: 2rem;
    }

    &-content{
        left: 105%;
        top: 0%;
        width: min-content;
    }

    &__logo{
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        color: #dfd3b5;
        font-style: normal;
        font-size: clamp(2rem,4vw,4rem);
        transition: all .4s;
    }

    &__links{
        display: flex;
        gap: .5rem;
    }

    &__links img{
        max-width: 25px;
        max-height: 25px;
    }

    &__button{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__button span{
        width: 100%;
        height: 0;
        background-color: #ffffff;
    }

    &__button span::before{
        transition: all .4s;     
        content: '';
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        transform: rotate(45deg);
    }

    &__button span::after{
        transition: all .4s;     
        content: '';
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        transform: rotate(-45deg);
    }

    &__menu{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 2rem;
    }

    &__menu a{
        color: #dfd3b5;
        font-size: 1.2rem;
        transition: all .4s;
    }

    &__menu a:hover{
        transition: all .4s;
        color: #d6bd7e;
    }

    &__line{
        border: 1px solid #d6bd7e;
        margin-bottom: 1rem;
    }

    &__details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .7rem;
    }

    &-subtitle{
        font-size: 1.2rem;
    }

    &__details a{
        color: #dfd3b5;
    }

    &__details-1,
    &__details-2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    &__details img{
        max-width: 25px;
        max-height: 25px;
    }

    &-button{
        font-size: clamp(0.9rem, 1.1vw, 1.2rem);
        transition: all 0.4s;
        border: 0.1rem solid #dfd3b5;
        border-radius: 0.5rem;
        font-weight: 500;
        color: #dfd3b5;
        background-color: transparent;
        padding: 0.7rem 3rem;
        cursor: pointer;
    }

    &-button:hover{
        background-color: #fff;
        transition: all 0.4s;
        color: #d6bd7e;
        border: 1px solid #d6bd7e;
    }

}



















.advantages{
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem;
    margin-bottom: 3rem;

    &__title{
        color: #313131;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1rem;
    }

    &__title span{
        color: #396258;
        font-size: 2rem;
        font-weight: 700;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__card{
        border-radius: .5rem;
        gap: .5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.5rem;
        background-color: #f8f8f8;
        width: 30%;
    }

    &__card img{
        min-width: 3.2rem;
        min-height: 3.2rem;
        border-radius: .5rem;
    }

    &__text{
        color: #313131;
        font-size: clamp(.8rem,1vw,1.2rem);
        font-weight: 400;
    }

}

.directions{
    width: 100%;
    padding-bottom: 3rem;

    &__title{
        color: #303030;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-left: 3rem;

    }

    &__content{
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: space-between;
    }

    &__cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__card img{
        max-width: 3.1rem;
        max-height: 3.1rem;
        border-radius: .5rem;
    }

    &__card{
        padding: 1rem;
        background-color: #ffffff;
        display: flex;
        gap: 1rem;
        border-radius: 1rem;
        width: 100%;
        height: -webkit-fill-available;

        &-title{
            color: #313131;
            font-size: 1.1rem;
            font-weight: 600;
        }

        &-text{
            color: #838383;
            font-size: .9rem;
        }

        &-btn{
            border: 1px solid #ffffff;
            color: #ffffff;
            font-size: .9rem;
            font-weight: 500;
            border-radius: .5rem;
            background-color: #464646;
            padding: .8rem 2rem;
            cursor: pointer;
            transition: all .4s;
        }

        &-btn:hover{
            background-color: transparent;
            transition: all .4s;
            color: #396258;
            border: 1px solid #d6bd7e;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
    }

    &__slider-wrapper{
        width: clamp(25rem,50vw,50rem);
        height: clamp(25rem,40vw,50rem);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__slider{
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;

        &-line{
            width: inherit;
            height: inherit;
            display: flex;
            transition: all 3s;
        }
    }

    &__slider-line img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    &__buttons{
        margin-top: .7rem;
        width: inherit;
        display: flex;
        justify-content: space-between;
        gap: .5rem;

        &-prev{
            padding: .2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #396258;
            border-radius: 50%;
            cursor: pointer;
            transition: all .4s;
        }

        &-prev:hover{
            transition: all .4s;
            border: 2px solid #d6bd7e;
            border-radius: 25%;

        }

        &-next{
            transform: rotate(180deg);
            background-color: transparent;
        }
    }

    &__buttons-prev img{
        max-width: 2.5rem;
        max-height: 2.5rem;
    }

    &__dots{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: .2rem;
    }

    &__dot{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #396258;
        cursor: pointer;
    }

    &__dot.active{
        background-color: #396258;

    }
}

.consultation{
    padding: 2rem 0;
    margin-bottom: 3rem;
    background-image: url('../images/bg-smallblock.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__title{
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__form{
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;

        &-text{
            border: none;
            padding: 1rem;
            border-radius: .3rem;
            background-color: #949090;
            opacity: .8;
            cursor: pointer;
            color: #fff;
        }

        &-text::placeholder{
            color: #fff;
        }
        &-text:focus{
            outline: none;
            box-shadow: none;
        }

        &-btn{
            padding: 1rem 3rem;
            border: none;
            border-radius: .3rem;
            background-color: #dfd3b5;
            cursor: pointer;
            margin-left: 1rem;
            transition: all .4s;
        }

        &-btn:hover{
            transition: all .4s;
            background-color: #d6bd7e;
        }
    }



}

.jobswithus{
    width: 100%;
    margin-bottom: 3rem;

    &__title{
        color: #303030;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    &__title span{
        color: #396258;
        font-size: 2rem;
        font-weight: 600;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        height: 59.4rem;
    }

    &__cards{
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__card{
        height: -webkit-fill-available;
        min-width: 27.5rem;
        width: 100%;
        min-height: 7.8rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: .3rem;
        padding: 2rem 4rem; 
        border-radius: 1rem;
        background-color: #fff;

        &-img{
            position: absolute;
            border-radius: 50%;
            top: 32%;
            left: -5%;
        }

        &-title{
            color: #313131;
            font-size: 1rem;
            font-weight: 700;
        }

        &-text{
            color: #949090;
            font-size: 1rem;
        }
    }

    &__gallery{
        height: inherit;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
    }

    &__gallery img{
        width: 100%;
        height: 31.3%;
        object-fit: cover;
    }


}

.offers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 3rem;

    &__title{
        color: #303030;
        font-size: 2rem;
        font-weight: 600;
    }

    &__title span{
        color: #396258;
        font-size: 2rem;
        font-weight: 600;
    }

    &__cards{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
        padding: 1.5rem;
        border-radius: 1rem;
        background-color: #fff;
    }

    &__card{
        width: calc(100%/4);
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: stretch;
        background-color: #f1f1f1;

        &-text{
            position: relative;
            overflow: hidden;
            font-size: .9rem;
            max-height: 2rem;
            color: #303030;
            margin-bottom: .5rem;
            cursor: pointer;
            transition: all 1s;
        }
        &-text.active{
            max-height: 15rem;
            transition: all 1s;
        }

        &-text::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
            pointer-events: none;
        }

        &-text.active::after{
            background: transparent;
        }

        &-info{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-title{
            color: #303030;
            font-size: 1.1rem;
            font-weight: 600;
        }
        &-title-img{
            width: 100%;
            object-fit: cover;
            margin-bottom: .5rem;
        }

        &-menu{
            width: 100%;
            gap: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 1rem;
        }

        &-items{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        &-item{
            font-size: .9rem;
            color: #303030;
        }

        &-btn{
            padding: 1rem 3rem;
            background-color: #303030;
            border: 1px solid #303030;
            border-radius: .5rem;
            text-align: center;
            color: #fff;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all .4s;
        }

        &-btn:hover{
            transition: all .4s;
            border: 1px solid #396258;
            background-color: #396258;
        }
    }
    &__card-items img{
        max-width: 3.25rem;
        max-height: 3.25rem;
    }

}

.minigallery{
    margin-bottom: 3rem;

    &__title{
        color: #396258;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    &__title span{
        color: #303030;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    &__gallery{
        height: 50vh;  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem 1rem;
        grid-auto-flow: row;
        grid-template-areas:
        "C1 C2 C3"
        "C1 C4 C4";
    }

    .C1 { grid-area: C1; }
  
    .C2 { grid-area: C2; }
    
    .C3 { grid-area: C3; }
    
    .C4 { grid-area: C4; }

    .C1,.C2,.C3,.C4{
        border-radius: 1rem;
    }

    .C1{
        background-image: url('../images/gallery-4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .C2{
        background-image: url('../images/gallery-6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .C3{
        background-image: url('../images/gallery-7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .C4{
        background-image: url('../images/gallery-5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.about{
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title{
        color: #303030;
        font-size: 2rem;
        font-weight: 600;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    &__content p{
        color: #838383;
    }

    &__statistic{
        display: flex;
        gap: 1rem;

        &-card{
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: #f1f1f1;
            border-radius: 1rem;
        }

        &-number{
            color: #396258;
            font-size: 3rem;
            font-weight: 600;
        }
        
        &-text{
            color: #838383;
        }
        
    }
}

.reviews{
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    &__title{
        color: #396258;
        font-size: 2rem;
        font-weight: 600;
    }

    &__cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__card{    
        width: 100%;
        background-color: #396258;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem 3rem;
    }

    &__info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
    }

    &__users-info{
        width: 100%;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }
    &__user-name{
        font-size: clamp(1.5rem,2.5vw,2.5rem);
        color: #999;
        letter-spacing: .2rem;
    }

    &__stars{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .5rem;
    }

    &__text{
        font-size: clamp(1rem,1.5vw,1.5rem);
        color: #999;
    }

    &__star{
        width: clamp(2rem,4vw,4rem);
        height: clamp(2rem,4vw,4rem);
    }
}

.calculator{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/bg-calc.png');

    &__content{
        padding: 4rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
        max-width: 50%;

        &-title{
            font-size: 2rem;
            font-weight: 600;
            color: #fff;
        }

        .range-container-span,
        .pipe-container-span,
        .light-container-span,
        .angles-container-span{
            font-size: clamp(1rem,1.5vw,3rem);
            font-weight: 600;
            color: #999;
        }

        

        &-form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5rem;

            &-people-info-container{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: flex-start;
                justify-content: center;
            }

            &-people-info-container label{
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: .5rem;
                color: #999;
            }

            &-people-info-container label span{
                font-weight: 600;
                color: #999;
            }

            &-people-info-container input{
                padding: 1rem;
                border-radius: .7rem;
                border: 1px solid #999;
                background-color: transparent;
                color: #999;
            }

            &-people-info-container-btn{
                width: 50%;
                padding: 1rem;
                border: none;
                background-color: #396258;
                border-radius: 1rem;
                color: #fff;
                cursor: pointer;
                transition: all .4s;
            }

            &-people-info-container-btn:hover{
                background-color: #d6bd7e;
                transition: all .4s;

            }

        }

        &-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding-bottom: 1rem;
        }

        &-range{
            width: 100%;
            height: .7rem;
            appearance: none;
            background-color: #fff;
            border-radius: 1rem;
            cursor: pointer;
            overflow: hidden;
        }

        &-range::-webkit-slider-thumb{
            background-color: #396258;
            appearance: none;
            border-radius: 50%;
            border: .1rem solid black;
            height: .7rem;
            width: .7rem;
            box-shadow: -1008px 0 0 1000px #396258;
        }

        label{
            font-size: 1.2rem;
            font-weight: 600;
            color: #fff;
        }

        &-range-value,
        &-pipe-value,
        &-light-value,
        &-angles-value,
        &__summ-title{
            font-size: clamp(2rem,3vw,3rem);
            font-weight: 600;
            color: #999;
            max-width: 2rem;

        }
         
        &__summ-result{
            font-size: 1.5rem;
            color: #fff;
            font-weight: 400;
        }
        
        &-btns{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;

            &-add,
            &-remove{
                flex-grow: 1;
                padding: 1rem;
                border: none;
                color: #fff;
                border-radius: 1rem;
                cursor: pointer;
            }

            &-add{
                background-color: #396258;
            }
            &-remove{
                background-color: #999;
            }
        }

        &-summ{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
            justify-content: center;
            
            &-info{
                display: flex;
                gap: .5rem;
                justify-content: flex-start;
                align-items: center;

                &-title,
                &-currency{
                    font-size: 1.5rem;
                    color: #999;
                    font-weight: 400;
                }

                &-result{
                    font-size: 1.5rem;
                    color: #396258;
                    font-weight: 400;
                }
            }
        }


    }

}


.messangers__links{
    z-index: 1000;
    position: fixed;
    top: 30%;
    right: 2%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width:60px;
        height: 60px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        animation: Skale 2s infinite;
    }
    
    &-btn img{
        border-radius: 50%;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    @keyframes Skale {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }

    &-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: max-content;
        overflow: hidden;
        transition: all .4s;
        opacity: 0;
        pointer-events: none;
    }
    
    &-menu.active{
        opacity: 1;
        transition: all .4s;
        pointer-events: all;

    }

    &-link{
        width:60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
    
    &-link img{
        border-radius: 50%;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}



.popup-form{
    z-index: 1000;
    opacity: 1;
    background-color: #999;
    border-radius: 1rem;
    width: 70%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    
    opacity: 0;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all .4s;


    &__close{
        width: 30px;
        height: 30px;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #396258;
        margin-bottom: .5rem;
        cursor: pointer;
    }

    &__close span{
        background-color: #fff;
        height: 2px;
        width: 100%;
        transform: rotate(45deg);
    }
    
    &__close span::before{
        content: '';
        position: absolute;
        background-color: #fff;
        height: 2px;
        width: 100%;
        transform: rotate(-90deg);
    }
    
    &__content{
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.9)),url('../images/header-bg-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding-bottom: 4rem;
    }
    
    &__title{
        font-size: clamp(.9rem,2vw,2rem);
        font-weight: 600;
        color: #fff;
        text-align: center;
    }

    &-text{
        font-size: clamp(.7rem,1vw,1.1rem);
        font-weight: 600;
        color: #fff;
        text-align: center;
    }

    &-form{
        display: flex;
        gap: .3rem;
        justify-content: center;
        align-items: center;
    }

    &__text{
        border: none;
        padding: 1rem;
        border-radius: 0.3rem;
        background-color: #949090;
        opacity: 0.8;
        cursor: pointer;
        color: #fff;
        width: 25%;
    }

    &__text:focus{
        outline: none;
    }
    
    
    &__text::placeholder{
        color: #fff;
    }

    &__btn{
        width: 25%;
        padding: 1rem;
        border: none;
        border-radius: 0.3rem;
        background-color: #dfd3b5;
        cursor: pointer;
        transition: all 0.4s;
        text-align: center;
    }
}

.popup-form.active{
    opacity: 1;
    pointer-events: all;
    transition: all 1s;
}


.asides-message{
    z-index: 1000;
    position: fixed;
    top: 90%;
    left: -100%;
    background-color: #396258;
    height: 70px;
    max-width: 14rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    

    &-text{
        font-size: 1rem;
        color: #fff;
    }
}

.asides-message.active{
    animation: submit 6s ease-in-out;
}

@keyframes submit{
    0%{
        left: -100%;
    }

    50%{
        left: 50%;
        transform: translate(-50%);
    }

    100%{
        left: 100%;
    }
}




@media (max-width:1200px) {
    .consultation__content{
        flex-direction: column;
    }
}

@media (max-width:1023px) {
    .jobswithus{

        &__content{
            justify-content: center;
            align-items: center;
        }

        &__gallery{
            display: none;
            pointer-events: none;
        }
    }
    .offers__cards{
        flex-direction: column;
        align-items: center;
    }
    .offers__card{
        width: 100%;
    }

    
}


@media (max-width:1000px) {
    .directions{
        &__content{
            align-items: flex-start;
        }
    }
}

@media (max-width:940px) {
    .consultation__form{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .consultation__title{
        text-align: center;
    }
    .consultation__form-btn{
        margin-left: 0;
        padding: 1rem 4.02rem;
    }

}

@media (max-width:768px) {
    .jobswithus{
        &__card{
            min-width: auto;
            width: 95%;
            padding: 2rem 3rem; 
        }}
    
    .directions__title{
        padding-left: 1rem;
    }

    .calculator__content{
        max-width: 100%;
    }

    .calculator__content-form{
        gap: 3rem;
    }

    .popup-form{
        width: 80%;
    }

    .popup-form__content{
        gap: .5rem;
        padding-bottom: 1rem;
    }

    .popup-form-form{
        flex-direction: column;
        width: 100%;
    }

    .popup-form__text{
        width: 100%;
    }

    .popup-form__btn{
        width: 100%;    
    }

    
}

@media (max-width:767px) {
    .directions{
        &__slider-wrapper{
            display: none;
            pointer-events: none;
        }
        &__card{
            height: max-content;
        }
    }

    .jobswithus__title{
        padding-left: 1rem;
    }

    .minigallery{
        display: none;
        pointer-events: none;
    }
    
    .reviews__info{
        flex-direction: column;
        gap: 1rem;
    }

    .reviews__users-info{
        align-items: center;
        justify-content: center;
    }

    .reviews__stars{
        justify-content: center;
        align-items: center;
    }

}

@media (max-width:700px) {
    .about__statistic{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about__statistic-card{
        justify-content: center;
        align-items: center;
    }
}


@media (max-width:1200px) {
    .advantages{
        padding: 1rem;

        &__content{
            justify-content: start;
        }

        &__card{
            width: 100%;
            padding: 1rem;
            justify-content: flex-start;
        }
    }
}

@media (max-width:1150px) {
    .header__nav,
    .header__menu-3,
    .header__btn{
        display: none;
        pointer-events: none;
    }

    .header__burger{
        display: flex;
        pointer-events: all;
    }

    .header__nav-container-2{
        justify-content: space-between;
    }

    // .header__logo{
    //     width: 150px;
    //     height: 75px;
    // }

    .messangers__links{
        top: 20%;
    }
}

@media (max-width:768px) {
    .advantages{
        padding: 1rem;

        &__content{
            justify-content: start;
        }

        &__card{
            width: 100%;
            padding: 1rem;
            justify-content: flex-start;
        }
    }
}

@media (max-width:425px){
    .header__info{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.9)),url('../images/header-bg-2.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@media (max-width:450px){
    .header__info-btn-2{
        padding: 0.7rem 2rem;
    }

}